<div class = "row block">
	<div class="col-md-6">
		<p>Promo key tag</p>
	</div>
	<% if !@promoact.cont_tag.blank? %>
		<div class="col-md-3">
			<%= link_to "Preview", @promoact.cont_tag_url , class: "btn btn-link" %>
		</div>
		<div class="col-md-3">
			<%= link_to "delete", del_cont_tag_promoact_path(@promoact), class: "btn btn-link", method: :delete, data: { confirm: "Are you sure?"} %>
		</div>
	<% end %>			
</div>

<div class = "row block">
	<div class="col-md-6">
		<p>Promo presentation</p>
	</div>
	<% if !@promoact.cont_pres.blank? %>
		<div class="col-md-3">
			<%= link_to "Preview", @promoact.cont_pres_url, class: "btn btn-link" %>
		</div>
		<div class="col-md-3">
			<%= link_to "delete", del_cont_pres_promoact_path(@promoact), class: "btn btn-link", method: :delete, data: { confirm: "Are you sure?"} %>
		</div>
	<% end %>			
</div>

<div class = "row block">
	<div class="col-md-6">
		<p>Promo description</p>
	</div>
	<% if !@promoact.cont_desc.blank? %>
		<div class="col-md-3">
			<%= link_to "Preview", @promoact.cont_desc_url , class: "btn btn-link" %>
		</div>
		<div class="col-md-3">
			<%= link_to "delete", del_cont_desc_promoact_path(@promoact), class: "btn btn-link", method: :delete, data: { confirm: "Are you sure?"} %>
		</div>
	<% end %>			
</div>