		<h3>Promo action: <%= @promoact.name %></h3><br>
		<div class = "row block">
			<div class="col-md-6" id="params">			
				<span>Brand:</span><br>
				<span>Start date:</span><br>
				<span>End date:</span><br>
				<span>Delivery number:</span><br>
				<span>Delivery fee(UAH):</span><br>
				<span>Open reward(UAH):</span><br>
				<span>Purchase reward(UAH):</span><br>
				<span>Contacts limit:</span><br>
				<span>Budget limit(UAH):</span>
			</div>
			<div class="col-md-6" id="params">			
				<span><%= @brand_name %></span><br>
				<span><%= @promoact.start_date.strftime("%d/%m/%Y") %></span><br>
				<span><%= @promoact.finish_date.strftime("%d/%m/%Y") %></span><br>
				<span><%= @promoact.del_num %></span><br>
				<span><%= @promoact.del_fee %></span><br>
				<span><%= @promoact.reward_1 %></span><br>
				<span><%= @promoact.reward_2 %></span><br>
				<span><%= @promoact.contact_limit %></span><br>
				<span><%= @promoact.budget_limit %></span>
			</div>
		</div>
		<div class = "row block">
			<h5><strong>Geography coverage</strong></h5>
				<ol>
					<% @promo_cities.each do |pc| %>
						<li>
							<div class="col-md-6">
								<%= pc.name %>
							</div>
							<div class="col-md-6">
								<%= link_to "delete", @promoact.promocities.find_by(city_id: pc.id) , class: "btn btn-link", method: :delete,data: { confirm: "Are you sure?"} %>						
							</div>
						</li>
					<% end %>
				</ol>			
		</div>
		<div class = "row block">
			<h5><strong>Customer segments</strong></h5>
				<ol>
					<% @promo_segments.each do |ps| %>
						<li>
							<div class="col-md-6">
								<%= ps.name %>
							</div>
							<div class="col-md-6">
								<%= link_to "delete", @promoact.promosegments.find_by(segment_id: ps.id) , class: "btn btn-link", method: :delete,data: { confirm: "Are you sure?"} %>					
							</div>
						</li>
					<% end %>
				</ol>			
		</div>
		<div class = "row block">
			<h5><strong>Trade categories</strong></h5>
				<ol>
					<% @promo_cats.each do |pc| %>
						<li>
							<div class="col-md-6">
								<%= pc.name %>
							</div>
							<div class="col-md-6">
								<%= link_to "delete", @promoact.promocats.find_by(category_id: pc.id) , class: "btn btn-link", method: :delete,data: { confirm: "Are you sure?"} %>	
							</div>
						</li>
					<% end %>
				</ol>			
		</div>
		<div class = "feedbacks">			
			<h4>Feedback schema</h4>	
			<%= render "promoacts/promo_feedback" %>	
		</div>

		<div class = "content">
			<h4>Promo content</h4>
			<%= render "promoacts/promo_content" %>
		</div>
	