<%= fields_for(@promoact.promoprods.build) do |pc| %>             
          <section class="fb-prodcat">
            <div class="col-md-5">
              <%= pc.label :prodcats, "product categories" %>
            </div>
            <div class="col-md-7">
              <%= collection_select(:prodcats, :id,  Prodcat.all, :id, :name, { include_blank: "none"}, { multiple: true }) %>
            </div>
          </section>
          <% end %>

          <%= fields_for(@promoact.promobrands.build) do |b| %>              
          <section class="fb-brand">
            <div class="col-md-5">
              <%= b.label :brands, "brands" %>
            </div>
            <div class="col-md-7">
              <%= collection_select(:brands, :id, Brand.all, :id, :name, { include_blank: "none"}, { multiple: true }) %>
            </div>
          </section>
          <% end %>

          <%= fields_for(@promoact.promorelations.build) do |pp| %>      
          <section class="fb-promoact">
            <div class="col-md-5">
              <%= pp.label :past_promoacts, "promo actions" %>
            </div>
            <div class="col-md-7">
              <%= collection_select(:past_promoacts, :id, current_user.promoacts, :id, :name, { include_blank: "none"}, { multiple: true }) %>
            </div>
          </section>
          <% end %>

          <%= fields_for(@promoact.promofeedbacks.build) do |fb| %>            
          <section class="fb-feedback">
            <div class="col-md-5">
              <%= fb.label :feedbacks, "customer feedback" %>
            </div>
            <div class="col-md-7">
              <%= collection_select(:feedbacks, :id, Feedbacks.all, :id, :name, { include_blank: "none" }, { multiple: true }) %>
            </div>
          </section>
          <% end %>
            </div>

def client_past_promoacts(user)
    client_id = user.client_id
    Promoact.where("status = ? AND client_id = ?", 6, client_id)
  end

  def client_brands(user)
    client_id = user.client_id
    Brand.where("client_id = ? AND dropped IS ?", client_id, nil) 
  end

      