<header class="navbar navbar-fixed-top navbar-default" role="navigation">
	<div class="navbar-inner">
		<nav>
			<ul class="nav navbar-nav navbar-left">
				<li><%= link_to "Status", actions_path %></li>
				<li><%= link_to "Segments", '#' %></li>
				<li><%= link_to "Retail", '#' %></li>
				<li><%= link_to "Analitics", '#' %></li>
				<li><%= link_to "Support", help_path %></li>
				<li>
					<% if current_user.admin? %>
						<%= link_to "New User", signup_path %>
					<% else %>
						<%= link_to "New Action", '#' %>
					<% end %>
				</li>
			</ul>
			<ul class = "nav navbar-nav navbar-right">
				<li><%= link_to "Profile", current_user %></li>
				<li><%= link_to "SignOut", signout_path, method: "delete" %></li>
			</ul>
		</nav>
	</div>
</header>
